program
**/.a.out
.DS_Store
.obsidian/workspace.json
*.dSYM
Fdf/.gitignore
.venv/**
.vscode/
Screenshots/**
Resources-and-notes/42-specific/Cleaner_42.sh
Access-42eval.mov
Python/**
/Resources-and-notes/42-specific/42-EXAM/**
/Resources-and-notes/42-specific/mini-moulinette/**
/Philosophers/**/*.txt
Friends/**
